[submodule "react/demos/showcase"]
	path = react/demos/showcase
	url = https://github.com/pxblue/react-showcase-demo
	branch = dev
[submodule "angular/angular-showcase-demo"]
	path = angular/angular-showcase-demo
	url = https://github.com/pxblue/angular-showcase-demo
