<h1 mat-dialog-title>Add new device</h1>
<div mat-dialog-content>
    <mat-form-field style="width:100%;">
        <input matInput placeholder="Device name" required>
    </mat-form-field>
    <mat-form-field style="width:100%">
        <input matInput placeholder="Network ID" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Location</mat-label>
        <mat-select>
            <mat-option *ngFor="let location of locations" [value]="location">
                {{location}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="closeDialog()">CLOSE</button>
    <button mat-raised-button color="primary" (click)="closeDialog()">ADD</button>
</div>
