.fab {
    width: 200px;
    height: 54px;
    border-radius: 3px;
    position: fixed;
    right: 30px;
    z-index:2;
}

.fab1 {
    bottom: 60px;
    text-transform: uppercase;
}

.fab2 {
    bottom: 25px;
    height: 35px;
    pointer-events: none;
}

.notice {
    top: 30%;
    width:98%;
    left: 0;
    color: #eef0f0;
    padding: 0 1% 75px 1%;
    z-index: 10000;
    position: fixed;
    text-align: center;
    background-color: #007bc1F5;
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10000;
}
