@import '~@pxblue/colors/palette.scss';
@mixin bluetheme(){
    /* toolbar*/
        .mat-toolbar {
            background-color: map-get($pxb-gray, 50);
            color: map-get($pxb-black, 500); 
            &.mat-accent{
                background-color: map-get($pxb-blue, 700); 
            
            } 
        }

    /*tab bar*/
        .mat-tab-group{
            .mat-tab-header{
                background-color: map-get($pxb-gray, 50); 
            }
            &.mat-primary .mat-tab-header {
                background-color: map-get($pxb-blue, 500); 
                .mat-tab-label,.mat-tab-link {
                    color: map-get($pxb-white, 50);
                }
            
            }
            &.mat-accent .mat-tab-header{
                background-color: map-get($pxb-blue, 700); 
                .mat-tab-label,.mat-tab-link {
                    color: map-get($pxb-white, 50);
                }
                
            }
        }
     /* tabbar link*/
        .mat-tab-group.mat-primary .mat-ink-bar, 
        .mat-tab-nav-bar.mat-primary .mat-ink-bar{
            background-color: map-get($pxb-white, 50);
        }
        .mat-tab-group.mat-accent .mat-ink-bar, 
            .mat-tab-nav-bar.mat-accent .mat-ink-bar{
                background-color: map-get($pxb-white, 50);
            }
        .mat-tab-group .mat-ink-bar{
            background-color: map-get($pxb-blue, 500);
        }
        /* tab bar arrows*/
            .mat-primary, .mat-accent{
                .mat-tab-header-pagination-chevron{
                    border-color: map-get($pxb-white, 50);
                }
            }
       
    }