@import '~@pxblue/colors/palette';

@function createSimplePalette($color) {
    @return (light: map-get($color, 50), main: map-get($color, 200), dark: map-get($color, 500));
}

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

@mixin darktheme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    $overrides: (
        primary: createSimplePalette($primary),
        error: createSimplePalette($pxb-red),
    );

    /* Side navigation*/
    .mat-drawer {
        background-color: map-get($background, base);
    }

    /* slide toggle */
    .mat-slide-toggle {
        .mat-slide-toggle-thumb {
            background-color: map-get($foreground, text);
        }

        &.mat-primary.mat-checked,
        &.mat-accent.mat-checked {
            .mat-slide-toggle-bar {
                background-color: rgba(map-deep-get($overrides, primary, main), 0.5);
            }

            .mat-slide-toggle-thumb {
                background-color: map-deep-get($overrides, primary, main);
            }
        }

        &:not([color]).mat-checked {
            /* defaults (no color (primary|accent|warn) set) */
            .mat-slide-toggle-bar {
                background-color: map-get($foreground, secondary-text);
            }

            .mat-slide-toggle-thumb {
                background-color: map-get($foreground, text);
            }
        }
    }

    /* badge */
    .mat-badge-content,
    .mat-badge-accent .mat-badge-content {
        color: #fff;
        background-color: map-deep-get($overrides, primary, dark);
    }
    .mat-badge-warn .mat-badge-content {
        color: #fff;
        background-color: map-deep-get($overrides, error, dark);
    }

    /* checkbox */
    .mat-checkbox-checked {
        &.mat-primary,
        &.mat-accent {
            .mat-checkbox-background {
                background-color: map-deep-get($overrides, primary, main);
            }
        }
    }
    .mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame {
        border-color: map-get($foreground, disabled);
    }

    /* radio button */
    .mat-radio-button.mat-primary {
        .mat-radio-inner-circle,
        .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
        &.mat-radio-checked .mat-radio-persistent-ripple {
            background-color: map-deep-get($overrides, primary, main);
        }

        &.mat-radio-checked .mat-radio-outer-circle {
            border-color: map-deep-get($overrides, primary, main);
        }
    }

    /* Tooltip  */
    .mat-tooltip {
        background-color: map-get($pxb-black, 500);
    }

    /* toolbar*/
    .mat-toolbar {
        color: map-get($foreground, text);
        background-color: map-get($pxb-darkBlack, 100);

        &.mat-primary {
            background-color: map-get($pxb-black, 800);
        }

        &.mat-accent {
            color: map-get($foreground, text);
            background-color: map-get($pxb-black, 900);
        }

        &.mat-warn {
            color: map-get($pxb-white, 50);
        }
    }

    /*tab bar*/
    .mat-tab-group {
        .mat-tab-label {
            color: map-get($foreground, secondary-text);
            font-weight: 400;
            background-color: map-get($pxb-black, 900);

            &:not(.mat-tab-disabled) {
                opacity: 1;
            }
        }

        .mat-tab-label-active {
            font-weight: 600;
            color: map-deep-get($overrides, primary, main);
        }
    }
    .mat-tab-group.mat-primary,
    .mat-tab-nav-bar.mat-primary {
        .mat-ink-bar {
            background-color: map-deep-get($overrides, primary, main);
        }
    }

    /* Chips */
    .mat-chip {
        &.mat-standard-chip,
        &.mat-primary,
        &.mat-accent {
            .mat-chip-remove {
                color: map-get($pxb-blue, 100);
                &:hover {
                    color: map-get($pxb-white, 50);
                }
            }
        }
        &.mat-standard-chip {
            background-color: map-get($pxb-black, 500);
            color: map-get($foreground, text);
        }
        &.mat-primary {
            color: map-get($pxb-white, 50);
            background-color: map-deep-get($overrides, primary, dark);
        }
        &.mat-accent {
            color: map-get($pxb-white, 50);
            background-color: map-get($pxb-lightBlue, 500);
        }
    }

    /*  Drawer Content */
    .mat-drawer-content {
        background-color: map-get($pxb-darkBlack, 800);
        color: map-get($foreground, text);
    }

    /* selection option */
    .mat-option.mat-selected:not(.mat-option-disabled) {
        color: map-get($foreground, text);
    }
    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
        color: map-get($foreground, text);
    }
    .mat-accent .mat-option.mat-selected:not(.mat-option-disabled) {
        color: map-get($foreground, text);
    }

    /* snackbar theming */
    .mat-snack-bar-container {
        background-color: map-get($pxb-darkBlack, 500);
    }

    /* date picker */
    .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
        border-color: map-deep-get($overrides, primary, main);
    }
    .mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon,
    .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
        color: map-get($foreground, secondary-text);
    }
    .mat-input-element.mat-form-field-autofill-control.mat-datepicker-input {
        color: map-get($foreground, text);
    }

    /* input fields */
    .mat-form-field {
        /* Input Placeholders */
        input::-webkit-input-placeholder {
            color: map-get($foreground, disabled);
        }

        /* Disabled */
        &.mat-form-field-disabled {
            &.mat-form-field-appearance-legacy,
            &.mat-form-field-appearance-standard {
                .mat-form-field-underline {
                    background-image: none;
                    background-color: map-get($foreground, disabled);
                }
            }
            .mat-hint,
            .mat-form-field-label,
            .mat-form-field-outline-thick,
            .mat-form-field-suffix {
                color: map-get($foreground, disabled);
            }
            &.mat-form-field-appearance-fill .mat-form-field-underline::before {
                background-color: map-get($foreground, disabled);
            }
        }

        /* Underline */
        &.mat-form-field-appearance-legacy,
        &.mat-form-field-appearance-standard,
        &.mat-form-field-appearance-fill {
            .mat-form-field-flex + .mat-form-field-underline .mat-form-field-ripple {
                height: 1px;
            }
            .mat-form-field-flex:focus-within + .mat-form-field-underline .mat-form-field-ripple {
                height: 2px;
            }
        }

        /* Primary */
        &.mat-primary:not(.mat-form-field-disabled) {
            .mat-form-field-label {
                color: map-get($pxb-black, 200);
            }

            .mat-form-field-flex:focus-within {
                .mat-form-field-label {
                    color: map-deep-get($overrides, primary, main);
                }
            }

            .mat-hint {
                color: map-get($foreground, secondary-text);
            }

            /* Fill */
            &.mat-form-field-appearance-fill {
                .mat-form-field-outline-thick {
                    color: map-deep-get($overrides, primary, dark);
                }
                .mat-form-field-flex {
                    background-color: rgba(map-get($pxb-black, 800), 0.5);
                }
                .mat-form-field-flex:hover {
                    background-color: map-get($pxb-black, 600);

                    .mat-form-field-outline-thick {
                        color: map-deep-get($overrides, error, main);
                    }
                }

                .mat-form-field-flex:focus-within .mat-form-field-outline-thick {
                    color: map-deep-get($overrides, error, dark);
                }
            }

            /* Outline */
            &.mat-form-field-appearance-outline {
                .mat-form-field-outline-thick {
                    .mat-form-field-outline-start,
                    .mat-form-field-outline-end,
                    .mat-form-field-outline-gap {
                        border-width: 1px;
                    }
                    color: map-deep-get($overrides, primary, main);
                }

                .mat-form-field-flex:hover .mat-form-field-outline-thick {
                    color: map-get($foreground, text);
                }

                .mat-form-field-flex:focus-within .mat-form-field-outline-thick {
                    color: map-deep-get($overrides, primary, dark);

                    .mat-form-field-outline-start,
                    .mat-form-field-outline-end,
                    .mat-form-field-outline-gap {
                        border-width: 2px;
                    }
                }
            }
        }

        /* Error */
        &.mat-form-field-invalid:not(.mat-form-field-disabled) {
            &.mat-form-field-appearance-legacy,
            &.mat-form-field-appearance-standard,
            &.mat-form-field-appearance-fill {
                .mat-form-field-flex + .mat-form-field-underline .mat-form-field-ripple {
                    background-color: map-deep-get($overrides, error, dark);
                }
                .mat-form-field-flex:hover + .mat-form-field-underline .mat-form-field-ripple {
                    background-color: map-deep-get($overrides, error, main);
                }
                .mat-form-field-flex:focus-within + .mat-form-field-underline .mat-form-field-ripple {
                    background-color: map-deep-get($overrides, error, dark);
                }
            }

            /* Standard */
            &.mat-form-field-appearance-standard,
            &.mat-form-field-appearance-legacy {
                .mat-form-field-outline-thick {
                    color: map-deep-get($overrides, error, dark);
                }

                .mat-form-field-flex:hover .mat-form-field-outline-thick {
                    color: map-deep-get($overrides, error, main);
                }
            }

            /* Fill */
            &.mat-form-field-appearance-fill {
                .mat-form-field-outline-thick {
                    color: map-deep-get($overrides, error, dark);
                }

                .mat-form-field-flex:hover {
                    background-color: map-get($pxb-black, 600);
                    .mat-form-field-outline-thick {
                        color: map-deep-get($overrides, error, main);
                    }
                }
            }

            /* Outline */
            &.mat-form-field-appearance-outline {
                .mat-form-field-outline-thick {
                    .mat-form-field-outline-start,
                    .mat-form-field-outline-end,
                    .mat-form-field-outline-gap {
                        border-width: 1px;
                    }

                    color: map-deep-get($overrides, error, dark);
                }

                .mat-form-field-flex:hover .mat-form-field-outline-thick {
                    color: map-deep-get($overrides, error, main);
                }

                .mat-form-field-flex:focus-within .mat-form-field-outline-thick {
                    color: map-deep-get($overrides, error, dark);

                    .mat-form-field-outline-start,
                    .mat-form-field-outline-end,
                    .mat-form-field-outline-gap {
                        border-width: 2px;
                    }
                }
            }
        }
    }

    /* slider */
    .mat-slider {
        .mat-slider-thumb {
            color: map-deep-get($overrides, primary, main);
        }
        .mat-slider-track-fill {
            background-color: map-get($pxb-blue, 300);
        }
        .mat-slider-ticks {
            background-image: repeating-linear-gradient(
                to right,
                map-get($pxb-blue, 500),
                map-get($pxb-blue, 500),
                2px,
                transparent 0,
                transparent
            );
        }
    }

    /*stepper*/
    .mat-stepper-horizontal,
    .mat-stepper-vertical {
        background-color: map-get($background, dialog);
        color: map-get($foreground, secondary-text);
        .mat-step-header {
            .mat-step-label,
            .mat-step-label-selected {
                font-size: 0.875rem;
            }
            .mat-step-label {
                font-weight: 400;
            }
            .mat-step-label-active {
                font-weight: 600;
            }
            .mat-step-label {
                color: map-get($pxb-black, 200);
            }
            .mat-step-label-selected {
                color: map-deep-get($overrides, primary, main);
            }
            &:hover,
            &.cdk-program-focused,
            &.cdk-mouse-focused,
            &.cdk-focused {
                background-color: unset;
            }

            .mat-focus-indicator.mat-button-base.ng-star-inserted {
                background-color: unset;
            }
        }
        .mat-stepper-vertical-line::before {
            border-left-color: map-get($pxb-black, 300);
        }
        .mat-stepper-horizontal-line {
            border-top-color: map-get($pxb-black, 300);
        }
        .mat-step-header[aria-selected='true'] .mat-step-icon {
            background-color: map-get($primary, 500);
        }
    }

    /* table*/
    .mat-table {
        background-color: map-get($background, app-bar);
    }

    /* paginator*/
    .mat-paginator {
        background-color: map-get($background, app-bar);
        color: map-get($foreground, text);
    }

    /* snackbar */
    .mat-snack-bar-container {
        background-color: map-get($pxb-black, 50);
        color: map-get($pxb-black, 500);

        .mat-simple-snackbar-action {
            color: map-get($pxb-blue, 500);
        }
    }

    /* PXB Drawer */
    .pxb-drawer-layout-content .pxb-drawer-layout-sidenav.pxb-drawer-layout-shadow {
        box-shadow: none;
    }
    .pxb-drawer {
        background-color: map-get($pxb-darkBlack, 300);

        .pxb-drawer-nav-item-active .pxb-info-list-item .mat-list-item-content {
            color: map-get($primary, 200);
            .pxb-info-list-item-subtitle-wrapper {
                color: map-get($primary, 200);
            }
        }

        .pxb-drawer-nav-item-active-highlight {
            opacity: 0.2;
        }

        .mat-list-base .mat-list-item,
        .pxb-drawer-nav-item-rail,
        .pxb-drawer-nav-group-title {
            color: map-get($foreground, 50);
        }

        .pxb-drawer-nested-nav-item mat-expansion-panel {
            background-color: map-get($pxb-darkBlack, 500);
        }
    }

    /* PXB Empty State */
    .pxb-empty-state {
        .pxb-empty-state-empty-icon-wrapper {
            color: map-get($pxb-black, 200);
        }

        .pxb-empty-state-description {
            color: map-deep-get($overrides, primary, main);
        }
    }

    /* PXB Info List Item */
    .pxb-info-list-item .pxb-info-list-item-content {
        .pxb-info-list-item-subtitle-wrapper,
        .pxb-info-list-item-info-wrapper {
            color: map-get($foreground, secondary-text);
        }
    }

    /* PXB Mobile Stepper */
    .pxb-mobile-stepper .pxb-mobile-stepper-dot:not(.pxb-mobile-stepper-dot-active) {
        background-color: map-get($foreground, disabled);
    }
}
