@import '~@pxblue/colors/palette';

@mixin darktheme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    /* Side navigation*/
    .mat-drawer {
        background-color: map-get($background, base);
    }

    /* toolbar*/
    .mat-toolbar {
        color: map-get($pxb-black, 100);

        &.mat-primary {
            background-color: map-get($background, base);
            color: map-get($pxb-black, 50);
        }
        &.mat-accent {
            background-color: map-get($pxb-darkBlack, 400);
            color: map-get($pxb-black, 50);
        }
    }

    /*tab bar*/
    .mat-tab-group {
        .mat-tab-header {
            background-color: map-get($background, app-bar);
        }
        &.mat-primary .mat-tab-header {
            background-color: map-get($background, base);
        }
        &.mat-accent .mat-tab-header {
            background-color: map-get($pxb-darkBlack, 400);
        }
    }

    /* tabbar link*/
    .mat-tab-group.mat-primary.mat-background-primary .mat-ink-bar {
        background-color: map-get($primary, 500);
    }
    .mat-tab-group .mat-ink-bar {
        background-color: map-get($background, base);
    }
    .mat-tab-label-active {
        color: map-get($pxb-black, 50);
    }

    /* button*/
    .mat-stroked-button:not([disabled]) {
        border-color: #c6cacc;
        &.mat-primary {
            border-color: map-get($primary, 500);
        }
        &.mat-accent {
            border-color: map-get($accent, 500);
        }
    }

    /*Body*/
    .mat-drawer-content {
        background-color: map-get($pxb-darkBlack, 100);
        color: map-get($foreground, text);
    }

    /* selection option*/
    .mat-option.mat-selected:not(.mat-option-disabled) {
        color: map-get($foreground, text);
    }
    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
        color: map-get($foreground, text);
    }
    .mat-accent .mat-option.mat-selected:not(.mat-option-disabled) {
        color: map-get($foreground, text);
    }

    /* snackbar theming */
    .mat-snack-bar-container {
        background-color: map-get($pxb-darkBlack, 500);
        color: white;
    }

    /*stepper*/
    .mat-stepper-horizontal,
    .mat-stepper-vertical {
        background-color: map-get($background, dialog);
        color: map-get($foreground, secondary-text);
    }
    .mat-step-header .mat-step-icon-state-done,
    .mat-step-icon.mat-step-icon-state-number,
    .mat-step-icon.mat-step-icon-state-add {
        background-color: map-get($pxb-gray, 300);
    }
    .mat-step-header[aria-selected='true'] .mat-step-icon {
        background-color: map-get($primary, 500);
    }
    .mat-focus-indicator.mat-button-base.ng-star-inserted {
        background-color: unset;
    }
    .mat-step-header {
        &:hover,
        &.cdk-program-focused,
        &.cdk-mouse-focused,
        &.cdk-focused {
            background-color: unset;
        }
    }

    /* table*/
    .mat-table {
        background-color: map-get($background, app-bar);
    }

    /* paginator*/
    .mat-paginator {
        background-color: map-get($background, app-bar);
        color: map-get($foreground, text);
    }

    /* PXB Drawer */
    .pxb-drawer {
        background-color: map-get($pxb-darkBlack, 300);
        .pxb-drawer-nav-item-active .pxb-info-list-item .mat-list-item-content {
            color: map-get($primary, 200);
        }
        .pxb-drawer-nav-item-active-highlight {
            opacity: 0.2;
        }
        .mat-list-base .mat-list-item,
        .pxb-drawer-nav-item-rail,
        .pxb-drawer-nav-group-title {
            color: map-get($pxb-black, 50);
        }
        .pxb-drawer-nested-nav-item mat-expansion-panel {
            background-color: map-get($pxb-darkBlack, 500);
        }
    }
}
