@mixin typography() {

    .mat-display-4,
    .mat-display-3,
    .mat-display-2 {
        letter-spacing: 0;
    }

    .mat-button {
      text-transform: uppercase;
    }

    .mat-overline {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 2.66;
        text-transform: uppercase;
    }
}
