// Import library functions for theme creation.
@import '~@angular/material/theming';

@mixin pxb-components-theme($theme) {
    @include pxb-empty-state-theme($theme);
    @include pxb-score-card-theme($theme);
    @include pxb-channel-value-theme($theme);
    @include pxb-hero-theme($theme);
    @include pxb-info-list-item-theme($theme);
    @include pxb-list-item-tag($theme);
    @include pxb-drawer($theme);
}

@mixin pxb-score-card-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);
    .pxb-score-card {
        .pxb-score-card-header {
            background-color: mat-color($primary);
            color: map-get($foreground, light);
            .mat-card-subtitle {
                color: inherit;
            }
        }
    }
}

@mixin pxb-empty-state-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);
    .pxb-empty-state {
        color: map-get($foreground, text);
        .pxb-empty-state-description {
            color: map-get($primary, 500);
        }
    }
}

@mixin pxb-channel-value-theme($theme) {
    $foreground: map-get($theme, foreground);
    .pxb-channel-value {
        color: map-get($foreground, text);
    }
}

@mixin pxb-hero-theme($theme) {
    $foreground: map-get($theme, foreground);
    .pxb-hero {
        color: map-get($foreground, text);
        .pxb-hero-primary-wrapper {
            color: map-get($foreground, secondary-text);
        }
    }
}

@mixin pxb-info-list-item-theme($theme) {
    $foreground: map-get($theme, foreground);
    .pxb-info-list-item {
        color: map-get($foreground, text);
    }
}

@mixin pxb-list-item-tag($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);
    .pxb-list-item-tag {
        background-color: mat-color($primary);
        color: map-get($foreground, light);
    }
}

@mixin pxb-drawer($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    .pxb-drawer {
        background-color: map-get($background, light);

        .pxb-drawer-header {
            background-color: mat-color($primary);
            color: map-get($foreground, light);
        }

        .pxb-drawer-nav-group .mat-list-base {
            color: map-get($foreground, text);
        }

        .pxb-drawer-nested-nav-item mat-expansion-panel {
            background-color: map-get($background, background);
        }

        .pxb-info-list-item-active .pxb-info-list-item .mat-list-item-content {
            color: map-get($primary, 500);
        }

        .pxb-info-list-item-active:after {
            background-color: map-get($primary, 50);
        }
    }
}
