@import '~@angular/material/_theming.scss';
@import '~@pxblue/colors/palette.scss';

$app-primary: mat-palette($pxb-blue);
$app-accent:  mat-palette($pxb-blue, 200);
$app-warn: mat-palette($pxb-red, A700);
$app-theme:   mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

.eaton{
  @include angular-material-theme($app-theme);
  .mat-card{
    background-color: white;
  }
}


$dark-primary: mat-palette($pxb-black, 700);
$dark-accent:  mat-palette($pxb-blue, 500);
$dark-warn: mat-palette($pxb-red, A700);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
  background-color: #333d43;
}


$red-primary: mat-palette($pxb-red, 500);
$red-accent: mat-palette($pxb-black, 500);
$red-warn: mat-palette($pxb-red, A700);
$red-theme: mat-light-theme($red-primary, $red-accent, $red-warn);

.red-theme{
  @include angular-material-theme($red-theme);
  .mat-card{
    background-color: white;
  }
}

$dark-theme-red:   mat-dark-theme($dark-primary, $red-primary, $dark-warn);

.dark-theme-red {
  @include angular-material-theme($dark-theme-red);
  background-color: #333d43;
}
