@import "~@pxblue/colors/palette.scss";

.fab {
    width: 200px;
    height: 55px;
    border-radius: 5px;
    position: fixed;
    right: 30px;
    z-index:2;
    text-align:center;
}

.fab1 {
    bottom: 60px;
    text-transform: uppercase;
}

.fab2 {
    bottom: 25px;
    height: 35px;
    pointer-events: none;
    display: block;
}

@keyframes slideIn {
    0% {
        transform: translate(-100%, -50%);
    }
    70% {
        transform: translate(10%, -50%);
    }
    100% {
        transform: translate(0%, -50%);
    }
};

.notice {
    color: map-get($pxb-white, 500);
    background-color: map-get($pxb-blue, 500);
    text-align: center;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translate(-100%, -50%);
    animation: slideIn 1200ms ease-in-out 1000ms;
    animation-fill-mode: forwards;
    box-sizing: border-box;
    .x {
        margin-top:10px;
        margin-bottom:15px;
        margin-right: 10px;
    }
    .notice-content {
        padding: 50px 25px 65px 25px;
    }
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10000;
}
