<pxb-drawer-layout [variant]="getVariant()" (backdropClick)="stateService.setDrawerOpen(false)">
    <app-sidenav pxb-drawer></app-sidenav>
    <ng-container pxb-content>
        <router-outlet></router-outlet>
        <div>
            <button mat-fab class="fab fab1" color="primary" (click)="toggleTheme()">
                <i class="material-icons">flip_to_back</i> toggle theme
            </button>
            <button mat-chip class="fab fab2">{{ currentTheme.themeName }}</button>
        </div>
    </ng-container>
</pxb-drawer-layout>

<div class="overlay" (click)="showNotice = false" *ngIf="showNotice">
    <div class="notice">
        <div fxLayout="row" fxLayoutAlign="end" class="x" style="height: 0;">
            <button mat-icon-button (click)="showNotice = false">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="notice-content">
            <h1>
                THEME DEMO ONLY
            </h1>
            <p>
                This example is intended to demonstrate the effects of different PX Blue themes on various components.
                The data, icons, behaviors, etc. are not representative of a production application and many areas of
                the demo are non-functional/non-interactive.
            </p>
        </div>
    </div>
</div>
