@import '../title/title.component.scss';

::ng-deep #drawer-container {
    height: calc(100% - #{$topBarHeight});
}
.accordion {
    padding: 10px 16px 10px 16px;
    margin-left:auto;
    margin-right:auto;
}

.checkbox {
    height:unset;
}

.list-item-detail {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
     box-shadow: none;
 }

.mat-expansion-panel {
    background-color:unset;
}
