
<div mat-dialog-content>
    <div class="container">
        <mat-icon color="primary" class="logo">person</mat-icon>
        <form [formGroup]="loginForm" [style.marginBottom.px]="30">
            <mat-form-field>
                <input matInput placeholder="Email Address" formControlName="email" type="email" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password" required>
            </mat-form-field>
            <div class="text-center mat-typography" fxLayoutAlign="space-between center" fxLayout="row-reverse" fxLayout.xs="column">
                <button [disabled]="!loginForm.valid" mat-raised-button color="primary" class="login" (click)="login()">LOG IN</button>
                <mat-checkbox class="text-center mat-typography" formControlName="remember">Remember Me</mat-checkbox>
            </div>
        </form>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon color="primary" class="bolt">offline_bolt</mat-icon>
        </div>
        <div class="text-center mat-typography">
            <h4>
                By logging in you agree to our
                <br/>
                <a class="links" href="">Terms and Conditions</a> and
                <a class ="links" href="">Privacy Policy</a>
            </h4>
        </div>
    </div>
</div>
