// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';

// Custom colors
$background-dark: #424e54 !default;
$background-light: #eef0f0 !default;

$blue-dark: #004b9e !default;
$blue-light: #007bc1 !default;
$blue-50: rgba($blue-dark, 0.5) !default;
$blue-20: rgba($blue-dark, 0.2) !default;
$blue-10: rgba($blue-dark, 0.1) !default;

$accent-dark: #007bc1 !default;
$accent-light: #4da3d4 !default;

$success-dark: #178e0b !default;
$success-light: #39b620 !default;

$warning-dark: #e57f0a !default;
$warning-light: #f0aa1f !default;

$error-dark: #ca3c3d !default;
$error-light: #FF3333 !default;

$midnight-dark: #04b49e !default;
$midnight-light: #005eab !default;

$night-dark: #333d43 !default;
$night-light: #424e54 !default;

$page-icon-color: #1d2529 !default;

// Sizes
$page-content-placeholder-font-size: 20;

/**
 * Theme variables overrides
**/

// Colors
$background: #fff;
$primary: lighten(#424e54, 13%);
$secondary: lighten(#424e54, 46%);
$disabled: lighten(#424e54, 62%);
$accent: $accent-dark;
$error: $error-light;

// SideDrawer
$item-color-android : #727e84;
$item-active-background: #eef0f0;
$item-active-color: $accent;
$item-active-icon-color: $item-active-color;
$item-color-ios: $blue-dark;
$item-color-android: $blue-dark;

$side-drawer-header-background: #eef0f0;
$side-drawer-header-brand: #424e54;
$side-drawer-background: #eef0f0;

// ActionBar
$ab-background: $accent;
$ab-color: $white;

// Buttons
$btn-color-inverse: $white;
$btn-color: $accent;
$btn-color-secondary: darken($btn-color, 10%);
$btn-color-outline-highlighted: lighten($btn-color, 10%);

//Text colors
$headings-color: $blue-dark;
$secondary: $blue-dark;
$text-color: $night-light;