@mixin pxb-mat-slider($track) {
    .mat-slider {
        .mat-slider-thumb {
            color: map-deep-get($overrides, primary, main);
        }

        .mat-slider-track-fill {
            background-color: map-get($pxb-blue, 300);
        }

        .mat-slider-ticks {
            background-image: repeating-linear-gradient(
                to right,
                map-get($pxb-blue, 500),
                map-get($pxb-blue, 500),
                2px,
                transparent 0,
                transparent
            );
        }
        &.mat-slider-disabled {
            .mat-slider-thumb {
                background-color: map-get($foreground, disabled);
            }
        }
    }
    .mat-slider-horizontal .mat-slider-track-background,
    .mat-slider:hover .mat-slider-track-background {
        background-color: rgba(map-get($pxb-black, 300), 0.36);
    }
}
